<form class="row g-3" action="">

  <div class="col-md-6">
    <label for="firstName" class="form-label">First Name</label>
    <input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
  </div>
  <div class="col-md-6">
    <label for="lastName" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
  </div>

  <div class="col-md-6">
    <label for="contactNum" class="form-label">Contact Number</label>
    <input type="tel" class="form-control" id="inputContactNum">
  </div>
  <div class="col-md-6">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail">
  </div>


 
</form>

