
<app-back-button></app-back-button>

<div class="container">
  <h1>Create Student</h1>
  <div class="card shadow">
    <div class="card-header py-3">
      <h4 class="m-0">Student Information</h4>
    </div>
    <div class="card-body">
      <form class="row g-3" [formGroup]="createForm" (ngSubmit)="onSubmit()">

        <div class="col-md-6 form-group">
          <label for="firstName" class="form-label">First Name</label>
          <input type="text" class="form-control" id="firstname" autofocus formControlName="firstname" >
          <span class="text-danger"
          *ngIf="createForm.get('firstname')?.invalid && createForm.get('firstname')?.touched">
          <div *ngIf="createForm.get('firstname')?.errors?.['required']"> Name is Required</div>
          </span>
        </div>
        <div class="col-md-6">
          <label for="lastname" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="lastname" formControlName="lastname">
          <span class="text-danger"
          *ngIf="createForm.get('lastname')?.invalid && createForm.get('lastname')?.touched">
         <div *ngIf="createForm.get('lastname')?.errors?.['required']">Last Name Required</div>
          </span>
        </div>
      
        <div class="col-md-6">
          <label for="contactno" class="form-label">Contact Number</label>
          <input type="text" class="form-control" id="contactno" formControlName="contactno">
          <span class="text-danger"
          *ngIf="createForm.get('contactno')?.invalid && createForm.get('contactno')?.touched">
            <div *ngIf="createForm.get('contactno')?.errors?.['required']"></div>
          </span>
         
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" formControlName="email">
          <span class="text-danger"
          *ngIf="createForm.get('email')?.invalid && createForm.get('email')?.touched">
        <div *ngIf="createForm.get('email')?.errors?.['email']">Invalid email</div>
        <div *ngIf="createForm.get('email')?.errors?.['required']">Email is required</div>
          </span>
        </div>

        <div class="btn-actions">
          <button type="submit" class="btn btn-primary">
            <span class="button-text">Submit</span>
        </button>
          <app-cancel-button></app-cancel-button>
        </div>

      </form>
     
    
    </div>
  </div>
</div>
  