.delete-btn{
    background-color: var(--red);
    background: var(--red);
    border: 2px solid var(--red);
}

.delete-btn:hover {
    background-color: transparent;
    color: var(--red);
    border: 2px solid var(--red);
}