/* #hea{
    text-align: center;
}

form{
    margin-top: 5rem;
}


#suc-reg{
    margin-top: 15rem;
    text-align: center;
    justify-content: center;
}

#log{
    color: red;
} */

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
    }

    .logo{
        padding-top: 0rem;


    }


    #log{
        color: red;
    }