<div class="container-fluid">
  <br>
  <div class="card shadow">
    <div class="card-header py-3">
      <h1>Delete Student</h1>
    </div>
    <div class="card-body">
      <div class="message">
        <h4 class="m-0">Are you sure?</h4>
        <p>Do you really want to delete this record? This process cannot be undone.</p>
      </div>

      <div class="row">
        <div class="col-xs-6 info-label">
          <label for="firstName" class="form-label info-identifier">First Name: </label>
        </div>
        <div class="col-xs-6 student-info">
          <label for="studentFirstname" class="form-label info">{{student.firstname}}</label>
        </div>

        <div class="col-xs-6 info-label">
          <label for="lastName" class="form-label info-identifier">Last Name: </label>
        </div>
        <div class="col-xs-6 student-info">
          <label for="studentFirstname" class="form-label info">{{student.lastname}}</label>
        </div>

        <div class="col-xs-6 info-label">
          <label for="contactNum" class="form-label info-identifier">Contact Number: </label>
        </div>
        <div class="col-xs-6 emp-info">
          <label for="contact" class="form-label info">{{student.contactno}}</label>
        </div>

        <div class="col-xs-6 info-label">
          <label for="email" class="form-label info-identifier">Email: </label>
        </div>
        <div class="col-xs-6 student-info">
          <label for="email" class="form-label info">{{student.email}}</label>
        </div>
      </div>
      <div class="btn-actions">
        <button type="button" class="btn btn-primary cancel-btn" (click)="back()" title="Go to previous page">
          <span class="button-text">Cancel</span>
        </button>
        <button type="button" class="btn btn-primary danger-btn" (click)="confirmDelete(student.id)">
          <span class="button-text">Delete</span>
        </button>
      </div>
    </div>
  </div>
</div>