

<div class="bg-white min-h-screen flex flex-col" >

  <form>
         
      <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
        <div class="bg-slate-200 px-6 py-8 rounded shadow-md text-black w-full">
      <h1 class="mb-8 text-3xl text-center">Welcome Back</h1>
      <div class="form-group">
        <label for="username">Username</label>
          
        <div
          class="alert alert-danger"
          role="alert"
          
        >
          
        </div>
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
       
        <div
          class="alert alert-danger"
          role="alert"
         
        >
          
            
          </div>
        </div>
      </div>
      
     
      <div class="form-group">
        <button class="btn btn-primary btn-block" >Login</button>
      </div>
      
      <div class="text-center text-sm text-grey-dark mt-4">
        Forgot 
        <a class="no-underline border-b border-grey-dark text-grey-dark text-blue-500" href="#">
            Password?
  
        </a>
    </div>
      
  
        </div>
      
      <div class="text-grey-dark mt-6 text-black" id="cent" >
        Do not have an account? 
        <a class="no-underline border-b border-blue text-red-600" href="../register/">
            Register
        </a>
        </div>
  
    </form>
    <!-- <div class="alert alert-success" *ngIf="isLoggedIn" id="log-suc" >
      Logged in as {{ roles }}.
  
    </div> -->
   
  </div>
  
  
  
  
  
      
  